
<div class="span9 content">
  <%#= render :partial => "layouts/guide/new_client" %>
  <%= create_guide("New Member", 
        "Save the approved member particulars so that he can start borrowing." ).html_safe %>

  

  
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          
          <% if not  flash[:error].nil? %>
            <div class="alert alert-error">
              <a class="close">×</a>
              <strong>Ah snaaps :(.</strong> There is similar email or Account No in our system. 
              Make sure that those two are unique. 
            </div>
          <% end %>

          <% if not  flash[:notice].nil? %>
            <div class="alert alert-success">
              <a class="close">×</a>
              <strong>Yes!! :).</strong> A new client with Account No <b><%= params[:username]%></b> is created. 
            </div>
          <% end %>
          
          

          

          <%= form_for Client.new , :url => create_new_client_url ,
                :html => {:class => "form-horizontal"} do |f| %>

            <div class="control-group">
              <%= f.label :username, "ID NO" %>
              <div class="controls">
                <%= f.text_field :username, :class=>"input-xlarge"  %>
                <p class="help-block">Masukkan Nomor KTP</p>
              </div>
            </div>

            <fieldset>
              <%= fields_for ClientProfile.new do |fp| %>
              
                <div class="control-group">
                  <%= fp.label :name, "Nama" %>
                  <div class="controls">
                    <%= fp.text_field :name, :class=>"input-xlarge"  %>
                    <p class="help-block">Sesuai KTP</p>
                  </div>
                </div>
              
              
                <div class="control-group">
                  <%= fp.label :province_id, "Propinsi" %>
                  <div class="controls">
                    
                    
                    <%= select_tag 'client_profile[province_id]',
                    options_for_select(Province.all.collect { |c| [c.name, c.id] }.
                      push(['Others', '']) ), 
                       :class=>"select-other"  %>
                    
                    <%= text_field_tag :new_province_id, nil, :class=>"input-xlarge other-replacement", 
                            :placeholder => "Other value?"  %>
                    <p class="help-block">Jika tidak ada pilihan, pilih Others. Akan muncul field yang dapat diisi.</p>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= fp.label :regency_id, "Kabupaten" %>
                  <div class="controls">
                    <%= select_tag 'client_profile[regency_id]',
                    options_for_select(Regency.all.collect { |c| [c.name, c.id] }.
                      push(['Others', ''])  )  , 
                       :class=>"select-other"%>
                      
                    <%#= fp.text_field :regency_id, :class=>"input-xlarge"  %>
                    <%= text_field_tag :new_regency_id, nil, :class=>"input-xlarge other-replacement", 
                            :placeholder => "Other value?"  %>
                    
                    <p class="help-block">Jika tidak ada pilihan, pilih Others. Akan muncul field yang dapat diisi.</p>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= fp.label :subdistrict_id, "Kecamatan" %>
                  <div class="controls">
                    <%= select_tag 'client_profile[subdistrict_id]',
                    options_for_select(Subdistrict.all.collect { |c| [c.name, c.id] }.
                      push(['Others', ''])  ) , 
                       :class=>"select-other" %>
                    <%#= fp.text_field :subdistrict_id, :class=>"input-xlarge"  %>
                    <%= text_field_tag :new_subdistrict_id, nil, :class=>"input-xlarge other-replacement", 
                            :placeholder => "Other value?"  %>
                    <p class="help-block">Jika tidak ada pilihan, pilih Others. Akan muncul field yang dapat diisi.</p>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= fp.label :village_id , "Kelurahan" %>
                  <div class="controls">
                    <%= select_tag 'client_profile[village_id]',
                    options_for_select(Village.all.collect { |c| [c.name, c.id] }.
                      push(['Others', ''])  ), 
                       :class=>"select-other"  %>
                    <%#= fp.text_field :village_id, :class=>"input-xlarge"  %>
                    <%= text_field_tag :new_village_id, nil, :class=>"input-xlarge other-replacement", 
                            :placeholder => "Other value?"  %>
                    <p class="help-block">Jika tidak ada pilihan, pilih Others. Akan muncul field yang dapat diisi.</p>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= fp.label :commune_id , "RW" %>
                  <div class="controls">
                    <%= fp.text_field :commune_id, :class=>"input-xlarge"  %>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= fp.label :neighborhood , "RT" %>
                  <div class="controls">
                    <%= fp.text_field :neighborhood, :class=>"input-xlarge"  %>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= fp.label :address , "Alamat Lengkap" %>
                  <div class="controls">
                    <%= fp.text_area :address, :class=>"input-xlarge", :rows => 5 %>
                  </div>
                </div>
                
                
              <% end %>
            </fieldset>


            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Create Member</button>
            </div>


          <% end %>
     
        </div><!--/span-->
      </div> <!--/div.row-->
    </div><!--/span-->
  </div><!--/row-fluid-->
</div><!--/span-->
