
<!-- <ul class="nav nav-list">
      
      <% if current_user.has_role?(:manager) %>
        <li class="nav-header">Admin</li>
        
        <li class="<%= get_active_state(ADMIN_SECTION[:create_employee] , params )%>">
          <%= link_to "Create Employee", new_employee_url %>
         </li>
        <li class="<%= get_active_state(ADMIN_SECTION[:all_employees] , params )%>">
          <%= link_to "All Employees", all_employees_url %>
         </li>
      <% end %>
      
      <% if current_user.has_role?(:cashier) %>
        <li class="nav-header">Cashier</li>
        <li><a href="#">Approve Payment</a></li>
        <li><a href="#">Pending Approval</a></li>
        <li><a href="#">View Debt Collector</a></li>
        <li><a href="#">All Approved</a></li>
        <li><a href="#">All Unapproved</a></li>
      <% end %>
      
      <% if current_user.has_role?(:loan_creator)%>
        <li class="nav-header">Loan Creator</li>
        <li class="<%= get_active_state(LOAN_CREATOR_SECTION[:create_loan] , params )%>">
          <%= link_to "Create Loan", search_client_url %>
         </li>
         <li class="<%= get_active_state(LOAN_CREATOR_SECTION[:create_client] , params )%>">
           <%= link_to "Create Client", new_client_url %>
         </li>
         
        <li class="<%= get_active_state(LOAN_CREATOR_SECTION[:all_loans] , params )%>">
          <%= link_to "All Loans", all_loans_url %>
         </li>
        <li class="<%= get_active_state(LOAN_CREATOR_SECTION[:all_clients] , params )%>">
          <%= link_to "All Clients", all_clients_url %>
         </li>
      <% end %>

      <% if current_user.has_role?(:debt_collector)%>
        <li class="nav-header">Debt Collector</li>
        <li class="<%= get_active_state(DEBT_COLLECTOR_SECTION[:create_payment] , params )%>">
          <%= link_to "Create Payment", search_client_for_payment_url %>
         </li>
        <li><a href="#">Approved Payments</a></li>
        <li><a href="#">Pending Approval</a></li>
        <li><a href="#">Not Approved</a></li>
      <% end %>
      

           
    </ul> -->