
<div class="span9 content">
  <%= render :partial => "layouts/guide/index_client_loans", :locals => {:client => @client} %>

  <%= render :partial => "payments/breadcrumb", :locals => {:client => @client, :loan => nil} %>

  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Loan ID</th>
            <th>Amount</th>
            <th>Total Paid</th>
          </tr>
        </thead>
        <tbody>
          <% @loans.each do |loan| %>
           <tr>
              <td><%= link_to "#{loan.id}", new_loan_payment_url(@client.id, loan.id) %></td>
              <td><%= number_to_currency(loan.amount , :unit => "Rp ") %></td>
              <td><%= number_to_currency(loan.total_paid , :unit => "Rp ") %></td>
              
              
            </tr>
          <% end %>
         
        </tbody>
      </table>

      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<% content_for :additional_js  do %>
 
  <%= javascript_include_tag "DT.js" %> 
  <%= javascript_include_tag "DT_bootstrap.js" %> 
<% end %>
